eff_area/fit*
eff_area/effarea.egg-info/
eff_area/__pycache__
eff_area/effarea.egg-info
eff_area/effarea/utils/__pycache__
eff_area/effarea/data/__pycache__
eff_area/effarea/io/__pycache__
*.ipynb
eff_area/effarea/utils/__pycache__/swift.cpython-310.pyc
eff_area/effarea/__pycache__
eff_area/plotting.py
eff_area/.ipynb*
eff_area/effarea/detectors/__pycache__
eff_area/effarea/model/__pycache__
